<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="/indexstyle.css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
 


  <title>Reciprocity</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



</head>

<body>
    <nav class="navbar navbar-dark bg-dark sticky-top" id="navBar">
    <div class="row">
      <img src="assets/reciprocity.png" id="navLogo">
    </div>
    <a href="/logout" class="btn btn-outline-light my-2 my-sm-0">Log Out</a>
  </nav>

  {{{ body }}}


  <script src="/js/login.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/index.js"></script>

</body>

</html>