<img src="assets/reciprocitee.png" id="reciprocitee" class="centered">

<div class="container" id="centered">
  <form id="formlogin">
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" id="email" aria-label="email" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" id="password" aria-label="Password"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <button type="button" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary">Sign-up For a Free Account</button>
  </form>
</div>
