<body id ="index page">

<div class="container" id="centered">


<div class="logo">
  <img src="assets/reciprocity.png"  >





<form id="formlogin">

    <div class="col-4 Quicksand">
   
     
      <h3>Your Online Recipe Book.</h3>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" id="email" aria-label="email" aria-describedby="basic-addon1">
      </div>
    </div>


    <div class="col-4 Quicksand">
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" id="password" aria-label="Password"
          aria-describedby="basic-addon1">
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary Quicksand">Login</button>
    <a href="signup"><button type="button" class="btn btn-primary Quicksand">Sign-up For a Free Account</button></a>
  </form>

</div>


</body>



  