<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 background_black">
        <h1 class="text_center"></p><img src="/assets/reciprocity.png" alt="Reciprocity" class="logo_image"></h1>

        {{!-- RECIPE POPULATION --}}
        <h3>Your Recipes:</h3>
        <ul id="recipe-list" class="list-group">
          {{#each recipe}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="recipe/{{this.id}}">{{this.recipe_name}}</a>
            <button class="btn btn-danger float-right delete">Delete</button>
          </li>
          {{/each}}
        </ul>

        {{!-- API ---}}
        <h3 class="margintop">Search</h3>
        <form>
        <div class="form-group">
          <label for="api_Search">Search for new recipes by ingredients in your pantry</label>
          <input type="text" class="form-control" id="user_apiSearch1" aria-describedby="user_apiSearch1" placeholder="Enter 1st Ingredient">
          <input type="text" class="form-control" id="user_apiSearch2" aria-describedby="user_apiSearch2" placeholder="Enter 2nd Ingredient">
          <input type="text" class="form-control" id="user_apiSearch3" aria-describedby="user_apiSearch3" placeholder="Enter 3rd Ingredient">
          <input type="text" class="form-control" id="user_apiSearch4" aria-describedby="user_apiSearch4" placeholder="Enter 4th Ingredient">
        </div>
        <button type="submit" id="api_submit" class="btn btn-primary">Submit</button>
      </form>

      <table class="submit_tables" id="api_search_append">
        <tr>

        </tr>
      </table>

      {{!-- CREATE NEW RECIPE --}}
      <h2 class="margintop">Create New Recipe</h2>
        <form class="clearfix mb-4" action="POST">
          {{!-- NAME --}}
          <div class="form-group">
            <label for="form_recipe_name">Recipe Name</label>
            <input type="text" id="form_recipe_name" class="form-control" aria-describedby="form_recipe_name" placeholder="Enter Recipe Name">
          </div>
          {{!-- INGREDIENTS --}}
          <div class="form-group">
            <label for="form_recipe_ingredients">Ingredients</label>
            <textarea class="form-control" id="form_recipe_ingredients" aria-describedby="form_recipe_ingredients" placeholder="Enter All Ingredients"></textarea>
          </div>
          {{!-- INSTRUCTIONS --}}
          <div class="form-group">
            <label for="form_recipe_instructions">Instructions</label>
            <textarea class="form-control" id="form_recipe_instructions" aria-describedby="form_recipe_instructions" placeholder="Enter Instructions"></textarea>
          </div>
          {{!-- COOK TIME --}}
          <div class="form-group">
            <label for="form_recipe_time">Preparation Time</label>
            <textarea class="form-control" id="form_recipe_time" aria-describedby="form_recipe_time" placeholder="Enter Preparation Time"></textarea>
          </div>
          {{!-- COOK METHOD --}}
          <div class="form-group">
            <label for="form_recipe_method">Cooking Method</label>
            <textarea class="form-control" id="form_recipe_method" aria-describedby="form_recipe_method" placeholder="Enter appliances used"></textarea>
          </div>
          {{!-- SERVINGS --}}
          <div class="form-group">
            <label for="form_recipe_servings">Servings</label>
            <textarea class="form-control" id="form_recipe_servings" aria-describedby="form_recipe_servings" placeholder="Enter Servings"></textarea>
          </div>
          {{!-- PHOTO --}}
          <div class="form-group">
            <label for="form_recipe_photo">Photo</label>
            <textarea class="form-control" id="form_recipe_photo" aria-describedby="form_recipe_photo" placeholder="Upload Photo Link"></textarea>
          </div>
          {{!-- TYPE CATEGORY --}}
          <div class="form-group">
            <label for="form_recipe_category">
              <h4>Category:</h4>
            </label>
            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_breakfast" value="&#10003; Breakfast">
              <label class="form-check-label" for="category_breakfast">Breakfast</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_brunch" value="&#10003; Brunch">
              <label class="form-check-label" for="category_brunch">Brunch</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_lunch" value="&#10003; Lunch">
              <label class="form-check-label" for="category_lunch">Lunch</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_snack" value="&#10003; Snack">
              <label class="form-check-label" for="category_snack">Snack</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_dinner" value="&#10003; Dinner">
              <label class="form-check-label" for="category_dinner">Dinner</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_dessert" value="&#10003; Dessert">
              <label class="form-check-label" for="category_dessert">Dessert</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_drinks" value="&#10003; Drinks">
              <label class="form-check-label" for="category_drinks">Drinks</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_sauces" value="&#10003; Dips, Dressings, & Sauces">
              <label class="form-check-label" for="category_sauces">Dips, Dressings, Sauces</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_soups" value="&#10003; Soups & Salads">
              <label class="form-check-label" for="category_soups">Soups &amp; Salads</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_pastas" value="&#10003; Pastas">
              <label class="form-check-label" for="category_pastas">Pastas</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_sides" value="&#10003; Sides">
              <label class="form-check-label" for="category_sides">Sides</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_kids" value="&#10003; Kid Friendly">
              <label class="form-check-label" for="category_kids">Kid Meals</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input typeCategory" type="checkbox" id="category_holiday" value="&#10003; Holiday and Party">
              <label class="form-check-label" for="category_holiday">Holiday &amp; Parties</label>
            </div>
          </div>

          {{!-- DIETARY CATEGORY --}}

          <div class="form-group" class="form_recipe_dietary">
            <label for="form_recipe_dietary">
              <h4>Dietary Categories:</h4>
            </label>
            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_gluten" value="&#10003; Gluten Free">
              <label class="form-check-label" for="type_gluten">Gluten Free</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_vegetarian" value="&#10003; Vegetarian">
              <label class="form-check-label" for="type_vegetarian">Vegetarian</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_pescetarian" value="&#10003; Pescetarian">
              <label class="form-check-label" for="type_pescetarian">Pescetarian</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_vegan" value="&#10003; Vegan">
              <label class="form-check-label" for="type_vegan">Vegan</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_paleo" value="&#10003; Paleo">
              <label class="form-check-label" for="type_paleo">Paleo</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_dairy" value="&#10003; Dairy Free">
              <label class="form-check-label" for="type_dairy">Dairy-Free</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_soy" value="&#10003; Soy Free">
              <label class="form-check-label dietaryCategory" for="type_soy">Soy-Free</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_egg" value="&#10003; Egg Free">
              <label class="form-check-label" for="type_egg">Egg-Free</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_wheat" value="&#10003; Wheat Free">
              <label class="form-check-label" for="type_wheat">Wheat-Free</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_kosher" value="&#10003; Kosher">
              <label class="form-check-label" for="type_kosher">Kosher</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input dietaryCategory" type="checkbox" id="type_pork" value="&#10003; Pork Free">
              <label class="form-check-label" for="type_pork">Pork-Free</label>
            </div>

          </div>
          {{!-- BUTTON --}}
          <button id="submit" class="btn btn-primary">Submit</button>
        </form>
        

      {{!-- <!-- BOOTSTRAP MODAL --> --}}
    <div class="modal" tabindex="-1" role="dialog" id="recipe-api-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Eat your heart out</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h2 id="recipeName"></h2>
                    <p><img id="recipePic" src=""></p>
                    <p id="recipeServing"></p>
                    <p id="recipeInstructions"></p>
                    <p id="recipeIngredients"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{{!-- <script src="/js/index.js"></script> --}}
