<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Recipe</h5>
          <p>
            <strong>Title</strong>: {{Recipe.recipe_name}}</p>
          <p>
          <p>
            <strong>Ingredients</strong>: {{Recipe.ingredients}}</p>
          <p>
            <strong>Instructions</strong>: {{Recipe.instructions}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
