
body  {
  background-image: url(assets/indexbackground.jpg);
  background-repeat: no-repeat;
  z-index: 0%;
  background-attachment: fixed;
  background-position: center; 
  margin-bottom:3em; 
  font-family: sans-serif;       
}
.background_black h2 h3 {
  margin-top:2em;
}
.logo_image {
  max-width: 20em;
  margin: 0 auto;
}
.text_center {
  text-align: center;
}

.list-group-item, .form-control {
  background: #eee9e3;
}
.margintop {
  margin-top: 1em;
}


/* Nav Bar Style */
#navBar{
  padding-top: 0;
  padding-bottom: 0;
  height: 50%
}

#navLogo {
  width: 45%;
  height: 45%
}


 /* API TABLE */
.apiImages {
  max-width:11em;
  margin:0 auto;
}
td {
  padding:1em;
}

.api_title {
  margin-top:1em;
}

.background_black {
  background: rgba(0,0,0,.5);
  color:#fff;
  padding: 1em;
  margin-top:3em;
}

.centered {
  position: fixed; /* or absolute */
  top: 40%;
  left: 37%;
}

#centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 37%;
}

/*MODAL*/
.modal {
  color:#000;
}
#recipePic {
  max-width:20em;
}
#recipeName {
  margin-top:.5em;
}

/* ------------------------------------------------- */


/* css for index */

.Pacifico {
  font-family: 'Pacifico';
  color: #eded45; 
  
}

.Quicksand {
  font-family: 'Quicksand';
  color: #fff; 
  
}

p { 
  /* text-align: center; */
  padding-top: 00px;
}

body  {
  background-image: url(assets/indexbackground.jpg);
  background-repeat: no-repeat;
  z-index: 0%;
  background-attachment: fixed;
  background-position: center;
  font-family: sans-serif; 
       
}

.logo {
  margin-top: 300px;
  margin-top: 3em;
  margin-bottom: 3em;
}


#centered {
  position: fixed; /* or absolute */
  top: 27%;
  left: 34%
}


.btn-primary { 
  background-color: #3a9147;
  padding: 10px 30px; 
}

.btn-primary:focus{
  background: #8C8;
}

.btn-primary:hover{
  background: #8C8;
}
.api_add, .api_more_info {
  margin-left:1em;
}

/* css for members flickity carousel */


* { box-sizing: border-box; }



.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
