
body {
  background-image: url(/assets/soup.jpg);

  background-repeat: no-repeat;
  z-index: 40%;
  background-attachment: fixed;
  background-position: center;
  margin-top: 3em;  
  margin-bottom:3em;
}
 /* API TABLE */
.apiImages {
  max-width: 6em;
  margin:0 auto;
}
td {
  padding:1em;
}

.background {
  background: rgba(0,0,0,.5);
  color:#fff;
  padding: 1em;
}

.centered {
  position: fixed; /* or absolute */
  top: 40%;
  left: 37%;
}

#centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 37%;
}

/*MODAL*/
.modal {
  color:#000;
}
#recipePic {
  max-width:20em;
}

/* ------------------------------------------------- */


/* css for index */

.Pacifico {
  font-family: 'Pacifico';
  color: #eded45; 
  
}

.Quicksand {
  font-family: 'Quicksand';
  color: #fff; 
  
}





p { 
  text-align: center;
  padding-top: 00px;
}

body {
  background-image: url(assets/background1.jpg);

  background-repeat: no-repeat;
  z-index: 0%;
  background-attachment: fixed;
  background-position: center;
  margin-top: 300px;  
 
       
}




#centered {
  position: fixed; /* or absolute */
  top: 27%;
  left: 37%;
}


.btn-primary { 

  background-color: #3a9147;
  padding: 10px 30px; 
}

.btn-primary:focus{
  background: #8C8;
}

.btn-primary:hover{
  background: #8C8;
}

/* css for members flickity carousel */


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

