
body {
  background-image: url(assets/soup.jpg);

  background-repeat: no-repeat;
  z-index: 40%;
  background-attachment: fixed;
  background-position: center;
  margin-top: 300px;  



}
